.logoContainer {
    margin: 10px 0;
    width: 30%;
    height: 202px;
}

.logoContainer > img {
    display: block;
    margin: 0 auto;
}

#ibmLogoContainer {
    float: left;
}

#ibmLogoContainer > p {
    text-align: center;
    margin: 0;
    font-family: Helvetica;
}

#ibmLogoContainer > img {
    height: 60px;
    padding: 60px;
}

#jumpstartLogoContainer {
    float: right;
}

#jumpstartLogoContainer > img {
    height: 100%;
}

#jumpstartLinksContainer {
    float: left;
    width: 40%;
    height: 202px;
    margin: 10px 0;
    text-align: center;
    /* vertically centre align */
    display: flex;
    align-items: center;
    justify-content: center;
}

#jumpstartLinks {
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: inherit;
}

#jumpstartLinks > li {
    display: block;
    float: left;
    margin: 0 20px;
    padding: 0;
    color: white;
    background-color: darkred;
    cursor: pointer;
}

#jumpstartLinks > li:hover {
    background-color: #d82129;
}

#jumpstartLinks > li > a {
    display: block;
    padding: 14px 16px;
    color: inherit;
}

#jumpstartLinks > li > a:hover {
    background-color: inherit;
}

#cityChallenge {
    clear: both;
}

#map {
    height: 400px;
}
