# JetBrains IDEs
.idea/

# do not track content images
live/images/committee/

# sqlite database
*.sqlite3

# do not track uploads
live/uploads/
live/images/nominations/
data/CV/
data/Cover/

db/ecss\.db

\.vscode/launch\.json
