ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 5px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Arial;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
