h1 {
    font-size: 30px;
    font-family: Helvetica;
}

h2 {
    font-size: 20px;
    font-family: Helvetica;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: blue;
}

.logo {
    padding: 40px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
}
