* {
    font-family: Helvetica;
}

th, td {
    vertical-align: top;
    padding: 15px;
    text-align: left;
}

h1 {
    font-size: 30px;

}

h2 {
    font-size: 20px;
}

a {
  color: darkred;
  text-decoration: none;
}

a:hover {
  color: red;
}

.logo {
    padding: 40px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
}
