* {

}

#overview {
    font-size: 18px;

}

.subsection {
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 50px;
    margin-top: 20px;
    overflow: hidden;
}

.slideshow {
    height: 500px;
    background: no-repeat;
    background-position: center;
    background-size: contain;
}

.subsectionImage {
    width: 40%;
    display: block;
}

div.subsectionText {
    box-sizing: border-box;

    padding: 20px;
    width: 60%;
    float: right;
}

#titleDiv {
    /*
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 120px;
    */
    padding: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e5e5e5;
    /*border-radius: 20px;*/
}

@media screen and (max-width: 750px) {
    .subsectionImage {
        width: 100%;
        max-width: 300px;
        float: none;
        margin: 0 auto;
    }

    div.subsectionText {
        box-sizing: border-box;

        padding: 20px;
        width: 100%;
        float: none;
    }


}

.slideshowButton {
    position: relative;
}