#intro {
    min-height: 240px;
}

#logo {
    display: flex;
    width: 300px;
    height: auto;
    margin: 40px 40px 40px 40px;
    float: left;
}

#logoContainer {
    display: flex-container;
    flex-wrap: nowrap;
    justify-content: center;
    vertical-align: center;
    width: 100%;
}

#socialWidgetsDiv {
    margin: 10px 0;
    height: 400px;
}

#socialTabs {
    display: none;
    width: 280px;
    height: 38px;
    margin: 0 auto;
}

#socialTabs > ul {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background: none;
}

#socialTabs > ul > li {
    background-color: darkred;
    margin: 0 10px 0 0;
    padding: 10px;
    height: 18px;
    cursor: pointer;
}

#socialTabs > ul > li:hover {
    background-color: #d82129;
}

#socialWidgets > div {
    float: left;
    width: 33.3%;
}

#facebookPageEmbed > iframe {
    display: block;
    margin: 0 auto;
}

#twitterEmbed {
    text-align: right;
}

@media (max-width: 890px) {
    #socialWidgetsDiv {
        height: 440px;
    }

    #socialTabs {
        display: block;
    }

    #socialTabs > ul > .activeTab {
        background-color: #d72028;
    }

    #socialWidgets {
        margin: 0 auto;
        width: 280px;
        border-top: 2px solid #d72028;
        position: relative;
        z-index: 1;
    }

    #socialWidgets > div {
        width: 100%;
        float: none;
    }

    .inactiveWidget {
        display: none;
    }

    .activeWidget {
        display: block;
    }
}

@media (max-width: 460px) {
    #logo {
        float: none;
        margin: 10px auto;
        width: 100%;
        max-width: 200px;
    }
}