* {
    font-family: Helvetica;
    /*outline-color: red;
    outline-width: 1px;
    outline-style: dotted;*/
}

body { margin: 0; padding: 0; }

.pageContainer {
    margin: 15px;
    width: auto;
}

#societyImageContainer {
    width: 350px;
    height: 350px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

#memberImage, #societyImage {
    float: left;
    width: 350px;
}

#memberTable, #societyTable, #sponsorTable {
    display: block;
    float: left;
}

#memberTable {
    margin-left: 20px;
    width: calc(100% - 370px);
}

#memberImage {
    display: block;
}

#societyTable {
    margin-left: 10px;
    width: calc(100% - 360px);
    overflow-x: auto;
}

.facebookIcon {
    background: url("/images/icons/facebook-circle.png") no-repeat;
    background-size: 28px 28px;
}

.emailIcon {
    background: url("/images/icons/email-circle.png") no-repeat;
    background-size: 28px 28px;
}

.linkIcon {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 2px 4px 2px;
    vertical-align: middle;
    opacity: 0.9;
    transition: opacity 0.1s linear;
}

.linkIcon:hover {
    opacity: 0.4;
}

#linkIcon {
    width: 28px;
    padding-left: 2px;
    margin-bottom: 4px;
    vertical-align: middle;
    opacity: 0.9;
    transition: opacity 0.1s linear;
}

#linkIcon:hover {
    opacity: 0.4;
}

#sponsorImageContainer {
    width: 400px;
    height: 400px;
    padding: 15px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sponsorImage {
    width: 100%;
}

#sponsorButtonGroup {
    float: left;
    margin-left: 10px;
    width: calc(100% - 440px);
}

#sponsorTable {
    margin: 10px 0 0 15px;
    width: calc(100% - 445px);
}

.sponsorInfoSection {
    margin: 20px 0;
}

#sponsorLink {
    margin: 15px;
    margin-left: 0px;
}

#societyLink {
    margin: 15px;
    margin-left: 0px;
}

#facebookEmbed {
    float: left;
    padding: 15px;
}

#twitterEmbed {
    float: right;
    padding: 15px;
}

.committeeMember {
    opacity: 0;
    transition: opacity 2.0s ease-in;
}

#contactSection a:hover > .linkIcon {
    opacity: 0.4;
}

th, td {
    vertical-align: top;
    padding: 10px;
    text-align: left;
}

h1 {
    font-size: 30px;
    /*padding: 0px;*/
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

a {
    color: darkred;
    text-decoration: none;
    
    transition: color 0.1s linear;
}

a:after {
    /*content: '\2197';*/
}

a:hover {
    color: red;
}

.logo {
    padding: 40px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
}

button {
    border-radius: 5px;
    border: solid #ffffff;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 10px; 
    padding-right: 10px;
    background-color: darkred;
    color: #ffffff;
    size: 14px;
    margin: 5px;
    transition: background-color 0.1s linear;

}

button:focus {
    outline:0;
}

button:hover {
    background-color: #D82129;
}

button:active {
    background-color: #ff5555;
}


.buttonGroup{
    margin-left: 15px;

    /*text-align: center;*/
    float: left;
    width: calc(100% - 365px);
}

.mainNav{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
}

.childNav{
    float:left;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Arial;
}

#committeeFam {
    display: block;
    margin: 0 15px 15px 0;
    float: left;
    max-width: 520px;
}

.gold, .gold:active {
    background-color: #f9c700;
}

.gold:hover {
    background-color: #cca300;
}

.silver, .silver:active{
    background-color: silver;
}

.silver:hover {
    background-color: #999999;
}

.bronze, .bronze:active{
    background-color: #cd7f32;
}

.bronze:active {
    background-color: red;
}

.bronze:hover {
    background-color: #905923;
}

#medalIcon {
    width: 28px;
    /*padding-left: 10px;*/
    margin-bottom: 4px;
    vertical-align: middle;
    opacity: 0.9;
    transition: opacity 0.1s linear;
}

#medaltext {
    display: inline;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    opacity: 0.7;
}

#medalIcon:hover #medaltext {
    opacity: 1;
}

@media (max-width: 650px) {
    #societyImageContainer, #societyImage, .buttonGroup, #societyTable, #memberImage, #memberTable {
        float: none;
    }

    #societyImageContainer {
        max-width: calc(100% - 10px);
        width: 200px;
        height: auto;
        padding: 0 5px;
        margin: 30px auto 0 auto;
    }

    #societyImage {
        width: 100%;
    }

    #memberImage {
        max-width: calc(100% - 10px);
        padding: 0 5px;
        margin: 30px auto 0 auto;
    }

    #memberTable {
        width: calc(100% - 10px);
        margin: 0 5px;
    }

    #societyTable {
        margin: 0;
        width: 100%;
    }

    #societiesPageContainer, #committeePageContainer {
        display: flex;
        flex-direction: column;
    }

    .buttonGroup {
        order: 1;
        width: 100%;
        margin: 0;
    }

    #societyImageContainer, #memberImage {
        order: 2;
    }

    #societyTable, #memberTable {
        order: 3;
    }
}

@media (max-width: 700px) {
    #sponsorImageContainer, #sponsorImage, #sponsorButtonGroup, #sponsorTable {
        float: none;
    }

    #sponsorButtonGroup {
        margin: 0;
    }

    #sponsorImageContainer {
        max-width: calc(100% - 10px);
        width: 400px;
        height: auto;
        padding: 0 5px;
        margin: 30px auto 0 auto;
    }

    #sponsorImage, #sponsorButtonGroup, #sponsorTable {
        width: 100%;
    }

    #sponsorTable {
        margin: 0 5px;
    }

    #sponsorsPageContainer {
        display: flex;
        flex-direction: column;
    }

    .buttonGroup {
        order: 1;
    }

    #sponsorImageContainer {
        order: 2;
    }

    #sponsorTable {
        order: 3;
    }
}

@media (max-width: 750px) {
    #committeeFam {
        float: none;
        width: 100%;
        margin: 0 auto;
    }
}