.slideshow {
    position: relative; /* position must be relative/absolute/fixed for slideshwoControl to position properly */
}

.slideshowImageContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* image center vertically */
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
 * Black background with rounded corners designed by Rayna.
 */
.slideshowImageContainerBackground {
    background-color: black;
    border-radius: 20px;
}

.slideshowImageContainer img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.slideshowImageFadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
}

@keyframes fadeIn {
    from {opacity: .6}
    to {opacity: 1}
}

.slideshowHiddenImage {
    display: none !important;
}

.slideshowControl {
    position: absolute;
    z-index: 999;
    right: 10px;
    bottom: 10px;
}

.slideshowButton {
    margin: 0 0 0 5px;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
    transition: color 0.1s linear, background-color 0.1s linear;
    cursor: pointer;
}

.slideshowButton:hover {
    color: white;
    background-color: #d82129;
}

.slideshowButton:active {
    background-color: #ff5555;
}

.slideshowButton:focus {
    outline: 0;
}

.slideshowButtonToggled {
    background-color: darkred;
    color: white;
}
