#blurb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    align-content: center;
    width: 60%;
    margin-left: 20%;
}

#logo {
    margin-top: 10px;
    width: 100%;
}

#menu {
    display: flex;
    flex-flow: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

@media (max-width: 900px){
    #blurb {
        width: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 500px){
    #blurb {
        width: 90%;
        margin-left: 5%;
    }
}