#submit {
    text-align: center;
}

#formDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    align-content: center;
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

#dietmessage {
    width: 100%;
}

@media (max-width: 900px){
    #formDiv {
        width: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 500px){
    #formDiv {
        width: 90%;
        margin-left: 5%;
    }
}