#itemSlideshowContainer {
	display: inline-block;
	margin-left: 10%;
	margin-top: 10%;
}

#itemInfo {
	display: inline-block;
	float: right;
	margin-right: 30%;
	margin-top: 10%;
	text-align: center;
}

#sizeAndColour {
	table-layout: fixed;
}