select {
	text-overflow: ellipsis;
	width: 100%;
}


.itemPageContainer {
	text-align: center;
	margin: 15px auto;
}

.itemPageSection {
	margin: 0 15px;
}

#itemSlideshowContainer {
	display: inline-block;
	margin-left: 10%;
	margin-top: 5%;
	width: 340px;
}

#itemInfo {
	display: inline-block;
	text-align: center;
	margin-left: 15%;
	margin-right: 5%;
	padding-left: 5%;
}

#containsEverything {
	display: flex;
    align-items: center;
    justify-content: center;
}

#sizeAndColour {
	table-layout: fixed;
}

.colour {
	display: inline-block;
    object-fit: contain;  
    height: 300px;
    /*height: 120px;*/
    border-radius: 5px;
	transition: opacity 0.2s linear;
	margin: 10px;
}

@media (max-width: 1100px){
	.colour {
		width: 90%;
		margin-left: 5%;
	}
	#itemSlideshowContainer {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	#itemInfo {
		width: 90%;
		margin-left: 5%;
	}
	#containsEverything {
		display: block;
		margin: -5%;
		width: 100%;
	}
}