.itemPageContainer {
	text-align: center;
	margin: 15px auto;
}

.itemPageSection {
	margin: 0 15px;
}

#itemSlideshowContainer {
	display: inline-block;
}

#itemInfo {
	display: inline-block;
	text-align: center;
}

#sizeAndColour {
	table-layout: fixed;
}

@media (max-width: 450px) {

	#itemSlideshowContainer canvas {
		width: 300px;
		height: 300px;
	}

}
